li, a, button{
    font-family: "Spectral", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
 }

 .logo{
     cursor: pointer;
 }

 .nav_list_items{
     list-style: none;
 }

 .nav_list_items li{
     display: inline-block;
     padding: 0px 10px;
 }

 .nav_list_items li a{
    transition: all 0.3s ease 0s;
}

.nav_list_items li a:hover {
    color: #0088a9;;
}

button{
    padding: 7px 15px;
    background-color: rgb(144, 238, 144);
    border: none;
    border-radius: 50px ;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(144, 238, 144, 0.7);
}

.contactme_button_text{
    color: black;
}

.center_mountain_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

label{
    font-family: "Oleo Script Swash Caps", sans-serif;
    font-size: 40px;
    color: #dc9670;
}